@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .paused {
        animation-play-state: paused;
    }
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo/Cairo-VariableFont_slnt.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Sintony';
    src: url('./assets/fonts/Sintony/Sintony-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    
  }


  mark {
    background-color: #f4f4f5;
    color: #2dd4bf;
  }