@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .paused {
        animation-play-state: paused;
    }
}


@font-face {
    font-family: 'Cairo';
    src: url('./assets/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Sintony';
    src: url('./assets/fonts/Sintony/Sintony-Regular.ttf') format('truetype');
  }
